.boton-blanco, .navegacion .boton-blanco{
    @include boton($blanco, $azul_oscuro, $azul_oscuro);  
}
.boton-azul, .boton-azul, .navegacion .boton-azul {
    @include boton($azul_oscuro, $blanco, $azul_oscuro);
}
.boton-chatbot{
    @include boton($blanco, $negro, $azul_oscuro);
}
.boton-rojo, .navegacion .boton-rojo{
    @include boton($rojo, $blanco, $rojo);  
}

.boton-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}