html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;
    color: $negro;
}
p {
    text-align: justify;
    font-size: 1.7rem;
    font-weight: 400;
}
.contenedor {
    width: 90%;
    max-width: 135rem;
    margin: 0 auto;
}
.contenedor-interior {
    width: 80%;
    max-width: 135rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: $fuente_principal;
    margin: calc($separacion / 2) 0; 
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-family: $fuente_principal; 
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    
}
h3 {
    font-size: 3rem;
    margin: 0;
}
h4 {
    font-size: 2.6rem;
}
.contenido-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-h1-pagina{
    font-size: 5rem;
    font-weight: 800;
    color: $azul_oscuro;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    margin-top: 4rem;
}
.alineacion-izquierda{
    text-align: left;
}
.boton-atras{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 3rem;
    color: $azul_oscuro;
    font-weight: 900;
}
label{
    font-family: $fuente_secundaria;
    font-size: 1.7rem;
    font-weight: 500;
    display: block;
}
.campos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 4rem;
}

.inputs{
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0;
    border: none; /* Primero, eliminamos todos los bordes */
    border-bottom: 0.2rem solid $azul_oscuro; /* Luego, agregamos un borde solo en la parte inferior */
    outline: none;
}

textarea{
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0;
    border: none; /* Primero, eliminamos todos los bordes */
    border-bottom: 0.2rem solid $azul_oscuro; /* Luego, agregamos un borde solo en la parte inferior */
    outline: none;
    resize: none;
}


.boton-formulario-azul{
    padding: 1.5rem 4rem;
    background-color: $azul_oscuro;
    border: none;
    color: $blanco;
    border-radius: 0.5rem;
    font-family: $fuente_secundaria;
    cursor: pointer;
    float: right;
}

.boton-formulario-blanco{
    padding: 0.8rem;
    background-color: $blanco;
    border: 0.1rem solid $azul_oscuro;
    color: $negro;
    border-radius: 0.5rem;
    font-family: $fuente_secundaria;
    cursor: pointer;
    text-align: center;
}

.card{
    background-color: $azul_claro;
    text-align: center;
    font-family: $fuente_secundaria;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    font-weight: 800;
    color: $azul_oscuro;
    font-size: 2.5rem;
    padding: 1.5rem 0;
    cursor: pointer;
}