html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;
    color: $negro;
}
p {
    text-align: justify;
    font-size: 1.7rem;
    font-weight: 400;
}
.contenedor {
    width: 90%;
    max-width: 135rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: $fuente_principal;
    margin: calc($separacion / 2) 0; 
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-family: $fuente_principal; 
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    
}
h3 {
    font-size: 3rem;
    margin: 0;
}
h4 {
    font-size: 2.6rem;
}
.contenido-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-h1-pagina{
    font-size: 5rem;
    font-weight: 800;
    color: $azul_oscuro;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    margin-top: 4rem;
}
.boton-atras{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 3rem;
    color: $azul_oscuro;
    font-weight: 900;
}