.subtitulo_blogs{
    color: $azul_oscuro;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}
.main-blogs{
    margin-top: 4rem;
    p{
        margin: 0;
    }
}
.margen-inferior{
    margin-bottom: 4rem;
}

.margen-superior{
    margin-top: 4rem;
}