.formulario-contacto{
    display: grid;
    grid-template-columns: 1.12fr 2fr;
    gap: 2rem;
    margin-top: 5rem;

    h4{
        font-family: $fuente_secundaria;
        font-size: 2.5rem;
        color: $azul_claro;
        margin: 0;
        line-height: 1.5;
    }

    form{
        padding: 6rem;

        .campo-mensaje{
            margin-top: 4rem;
        }

        input[type="submit"]{
            margin-top: 5rem;
        }
    }

    .formulario-contacto-izq{
        background-color: $azul_oscuro;
        background-image: url('../../../build/img/Ellipse793.webp'); /* Ruta de la imagen de fondo */
        background-position: right bottom; /* Posición de la imagen de fondo (derecha abajo) */
        background-repeat: no-repeat; /* No se repite la imagen */
        background-size: auto;
        padding: 3rem;
        border-radius: 0.7rem;
        
        p{
            color: $blanco;
            text-align: left;
        }

        ul{
            list-style: none;
            display: flex;
            flex-direction: column; 
            padding-left: 0; 
            margin-top: 3rem; 
               
        }
        li{
            color: $blanco;
            font-size: 1.6rem;
            font-weight: 500;
            margin-top: 3.5rem;
            display: flex;
            gap: 1rem;
                
            &:first-child{
                margin-top: 0;
            }
        }
        .circulo{
            margin-bottom: 5rem;
            float: right;
            margin-right: 3rem;
        }
    }
}

.formulario-iniciar-sesion{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 3rem;
    margin-top: 4rem;  

    .formulario-iniciar-sesion-izq{
        border-radius: 5rem 0 0 5rem;
        padding: 4rem 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4{
            color: $blanco;
            font-size: 4rem;
            font-weight: 800;
            text-transform: uppercase;
            font-family: $fuente_secundaria;
            line-height: 1.5;
            margin-bottom: 1rem;
        }
        p{
            color: $blanco;
            font-size: 1.8rem;
            font-family: $fuente_secundaria;
        }
        img{
            width: 20%;
        }
    }

    .formulario-iniciar-sesion-der{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem 3rem 6rem 3rem;
        img{
            width: 25%;
            margin: 0 auto 3rem auto;
            
        }
        .ultimo-elemento{
            margin-top: 2rem;
            position: relative;

            input {
                padding-right: 4rem; /* Espacio para el icono */
                font-size: 1.6rem;
            }

            .toggle-password {
                position: absolute;
                right: 1rem;
                top: 53%;
                cursor: pointer;   
            }
            .show-eye{
                display: none;
            }
        }
        p{
            margin: 0.5rem auto;
        }
        .contenedor-olvido-contrasena{
            display: flex;
            justify-content: flex-end;
            margin: 1rem 0 2rem 0;

            .olvidar-clave{
                color: #FF3333;
                font-family: $fuente_secundaria;
                font-weight: 700;
                font-size: 1.3rem;
                text-align: right;
            }
        }
    }
}

.fondo-inicio-sesion-cliente{
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0, 0, 0, 0.75)), url('../../../build/img/InicioSesionCliente.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-inicio-sesion-medico{
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0, 0, 0, 0.75)), url('../../../build/img/InicioSesionMedico.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-inicio-sesion-admin{
    background-image: linear-gradient(rgba(0,0,0,0.58), rgba(0, 0, 0, 0.58)), url('../../../build/img/InicioSesionAdmin.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario-general{
    display: grid;
    grid-template-columns: 0.17fr 1fr;
    margin-top: 5rem;
}

.titulo-formulario{
    font-family: $fuente_secundaria;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: $azul_oscuro;
    text-align: center;
    line-height: 1.5;
}

.formulario-datos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5rem 0;
    gap: 4rem;
}

.formulario-datos-procedimiento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    gap: 4rem;
}
.formulario-datos-comentarios{
    display: grid;
    grid-template-columns: 1fr;
    margin: 5rem 0;
}

.formulario-terminos{
    display: flex;
    gap: 1rem;
    label{
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.45;
    }
}

.formulario-terminos-boton{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.form-imagen-registro{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url('../../../build/img/registro.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem 0 0 5rem;
}

.form-contenido{
    padding: 3rem 5rem;
}

.input-password{
    position: relative;
    input{
        padding-right: 4rem;
    }
    .toggle-password{
        position: absolute;
        right: 1rem;
        top: 53%;
        cursor: pointer;
    }
    .show-eye{
        display: none;
    }    
}

.form-imagen-mascota{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url('../../../build/img/clienteMascota.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem 0 0 5rem;
}

.form-botones{
    gap: 3rem;
    justify-content: center;
    display: flex;
    a{
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

.form-imagen-cita{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url('../../../build/img/clienteCita.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem 0 0 5rem;
}

.form-imagen-guarderia{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url('../../../build/img/clienteGuarderia.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem 0 0 5rem;
}

.form-imagen-colaborador{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url('../../../build/img/colaboradores.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem 0 0 5rem;
}

.form-imagen-proveedor{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url('../../../build/img/proveedores.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem 0 0 5rem;
}

.form-imagen-productos{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url('../../../build/img/productos.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem 0 0 5rem;
}

.form-imagen-procedimiento{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url('../../../build/img/procedimiento.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem 0 0 5rem;
}
.form-imagen-restablecer1{
    background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0, 0, 0, 0.05)), url('../../../build/img/imagenRestablecer1.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem;
}
// Restablecer contraseña

.formulario-restablecer{
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    margin-top: 5rem;

    .texto-restablecer{
        font-family: $fuente_secundaria;
        font-size: 1.7rem;
        font-weight: 400;
        display: block;
        margin-bottom: 2.5rem;

        a{
            color: $azul_oscuro;
            font-weight: 700;
        }
    }
}
.formulario-datos-restablecer{
    width: 100%;
}
.form-imagen-restablecer2{
    background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0, 0, 0, 0.05)), url('../../../build/img/imagenRestablecer2.webp'); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem;
}

.imagen-formularios-cerrados{
    display: flex;
    justify-content: center;
    gap: 1.2rem;

    img{
        height: 10rem;
        width: 10rem;
    }

    .titulo{
        color: $azul_oscuro;
        line-height: 1.1;
        font-weight: 800;
        font-family: $fuente_secundaria;
        font-size: 2.4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-transform: uppercase;

        .segunda_parte{
            color: $azul_claro;
        }
    }
}

// Visualizar orden
.form-grupo-cerrado, .form-grupo-cerrado-2, .form-grupo-cerrado-3, .form-grupo-cerrado-4, .form-grupo-cerrado-5{
    display: grid;
    input{
        width: 100%;
    }

    div{
        margin-top: 2rem;
    }
    
}
.form-grupo-cerrado{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.form-grupo-cerrado-2{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.1rem;

    .input-width{
        width: 207.5%;
    }
}
.form-grupo-cerrado-3{
    gap: 2rem;
    grid-template-columns: 1fr 1.55fr 1.5fr;  
}
.form-grupo-cerrado-4{
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}
.form-grupo-cerrado-5{
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.input-cerrado{
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid $azul_oscuro;
    background-color: #EAECF0;
}
.margen-inferior-config{
    margin-bottom: 10rem;
}
.margen-superior-config{
    margin-top: 1rem;
}
.botones-formulario-config{
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0rem 0 2rem;
}
.botones-formulario-config-2{
    display: flex;
    justify-content: flex-start;
    padding: 2rem 2rem 0 0.5rem;
}

.boton-azul-config, .boton-rojo-config{
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-family: $fuente_secundaria;
    cursor: pointer; 
}
.boton-azul-config{
    background-color: $azul_oscuro;
    color: $blanco;
}

.boton-rojo-config{  
    background-color: $rojo;
    color: $blanco;
}

.titulos-formularios-cerrado{
    margin: 4rem 0 0 0;
    font-family: $fuente_secundaria;
    text-transform: uppercase;
    font-size: 1.7rem;
}
.margen-superior-2{
    margin-top: 2rem;
}

textarea.input-cerrado{
    height: 12rem;
}

textarea.input-cerrado.descripcion{
    height: 30rem;
}

.recibo-guarderia{
    margin-bottom: 10rem;

    .total-pago{
        margin-top: 6rem;
    }
}