.popup-class{
    font-family: $fuente_secundaria;
    font-size: 1.5rem;
    color: $negro;
}
.title-class{
    font-weight: 800;
    color: $negro;
}
.title-class-signed{
    font-weight: 600;
    color: $negro;
    font-size: 2rem;
    font-family: $fuente_secundaria;
}