.contenido-eslogan{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    h1{
        color: $azul_oscuro;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 5.9rem;
        text-align: left;
        line-height: 1.1;
        max-width: 70rem;
        margin-left: 2rem;
    }
    .eslogan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        background-image:url("../../build/img/Vector1.svg");
        background-size: contain; /* Ajusta la imagen para cubrir todo el cuadrado */
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 45%; /* Mover un poco hacia arriba */
        background-position-x: 0%;
        background-size: 80%;
    }
    .eslogan_img{

        padding: 1rem 0 1rem 4rem;

        img{
            height: 55rem;
            border-radius: 4rem;
        }
    }
}