.seccion-principal{
    h2{
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
    }

    .seccion{
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        gap: 2rem;

        span{
            margin-top: 4rem;
            font-weight: 800;
        }
        
    }

    .seccion_img{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 45%;
            border-radius: 2rem; 
        }
        
    }
}